extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='device_name') Device Name:
      input#device_name.form-control(type='text' placeholder='Set device name' name='device_name' required='true' value=(undefined===device ? '' : device.device_name))
        
    div.form-group
      label(for='glyph') Mark:
      select#glyph.form-control(type='select' placeholder='Select status' name='glyph' required='true')
        for glyph in glyph_list
          if device
            option(value=glyph.glyph_name selected=(device.glyph.toString()==glyph.glyph_name.toString() ? 'selected' : false)) #{glyph.glyph_name}
          else
            option(value=glyph.glyph_name) #{glyph.glyph_name}

    div.form-group
      label(for='marker') Object Marker:
      select#marker.form-control(type='select' placeholder='Select status' name='marker' required='true')
        for marker in marker_list
          if device
            option(value=marker.marker_name selected=(device.marker.toString()==marker.marker_name.toString() ? 'selected' : false)) #{marker.marker_name}
          else
            option(value=marker.marker_name) #{marker.marker_name}
    
    div.form-group
      label(for='one_glyph') Number of Mark:
      select#one_glyph.form-control(type='select' placeholder='Select As one glyph' name='one_glyph' required='true')
        option(value='1') Single Mark
        option(value='0') Multiple mark

    button.btn.btn-primary(type='submit') Submit

    