extends layout

block content

  h1 Device Detail: 
  
  div(style='margin-left:20px;margin-top:20px')
    .contentBox
      .block
        .row
          div(style='margin-left:20px;margin-top:20px') 
            .col-sm-6
              h2 Device Name: 
              p.listingname #{device.device_name}
              h2 Mark: 
              p.listingname #{device.glyph}
              h2 Marker: 
              p.listingname.italic #{device.marker}   
          div(style='margin-left:20px;margin-top:20px') 
            .col-sm-6
              h3 Marker Tag image:
              .image-block
                img.image(src='/marker/' + device.marker+'.png' width="250" height="250" alt="Marker")
              h4
                a(href='/marker/'+device.marker+'.png') print tag
    hr
    p
      a(href=device._id+'/addsensor') 
        button.btn.btn-success (+) Add New Sensor
    contentBox
     .table-responsive
       table.table.table-hover.va-middle.u-mr-top-20
         thead
           tr
             th 
              h1 Sensor List
         tbody
           each val in device.sensor
             tr
               td 
                 a(href=val.url) 
                   h3 #{val.sensor_name}
                 h4.bold ID Sensor: #{val._id}
                    h4.bold Device Name: 
                      a(href=val.device.url) #{val.device.device_name}
                    p.listingname Current aggegated Value: #{val.data} | Aggregation type: #{val.calculation}
                    br

                    a(href='/detail/sensor/'+val._id)(style='margin-right:10px;')
                      button.btn.btn-primary View Sensor Detail 
                    | 
                    a(href='/detail/sensor/'+val._id+'/update') 
                      button.btn.btn-primary Edit Sensor Detail
           else
             tr
               td There are no glyph.
    hr
  div(style='margin-left:20px;margin-top:20px')
    .contentBox
      .block
        .row
          .col-sm-6
            p.listingname 
              a(href=device.url+'/delete').bigred Delete Device 
              | | 
              a(href=device.url+'/update')  Edit Device


  style.
    .bigred 
    { 
    color: red; 
    }
    .italic
    {
     font-style: italic;
    }
    .listingname 
    { 
    font-size: 1.5em;
    }