extends layout

block content

  h1 Device Detail: 
  
  div(style='margin-left:20px;margin-top:20px')
    h2 Device Name: 
    p.listingname #{device.device_name}
    h2 Marker: 
    p.listingname #{device.glyph.glyph_name}
    h2 Device Id: 
    p.listingname.italic #{device._id}
    h2 Marker: 
    p.listingname.italic #{device.marker.marker_name}
    hr
    p
      a(href=device._id+'/addsensor') 
        button.btn.btn-primary Add New Sensor
    contentBox
     .table-responsive
       table.table.table-hover.va-middle.u-mr-top-20
         thead
           tr
             th 
              h1 Sensor List
         tbody
           each val in device.sensor
             tr
               td 
                 a(href=val.url) 
                   h3 #{val.sensor_name}
           else
             tr
               td There are no glyph.
    hr
    p
      a(href=device.url+'/delete') Delete device
    p
      a(href=device.url+'/update') Update device


  style.
    .bigred 
    { 
    font-size: 1.5em;
    color: red; 
    }
    .italic
    {
     font-style: italic;
    }
    .listingname 
    { 
    font-size: 1.5em;
    }