extends layout

block content
	h1=title
	p adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	
	.contentBox
		h4.border-bottom 
		.table-responsive
			table.table.table-hover.va-middle.u-mr-top-20
				thead
					tr
						th 
				tbody
					each val in list_devices
						tr
							td
								div(style='max-width: 1080px;')
									.col-sm-6(style='margin-right:-200px;') 
										h5 Assigned tag marker: #{val.marker}
										.image-block
												img.image(src='/marker/' + val.marker+'.png' width="225" height="225" alt="Marker")
									.col-sm-6(style='margin-left:10px;')
										a(href=val.url)
											h2 #{val.device_name}
										h4.italic Number of sensor: #{val.sensor.length}
										if (val.as_one_glyph == '1')
											img.image(src='/glyph/' + val.glyph+'.png' width="50" height="50" alt="Marker")
										if (val.as_one_glyph == '1')
											h5.italic Visualizing multiple sensor as a one mark #{val.glyph}
										else
											h5.italic Visualizing multiple sensor for multiple marks
										each val_sensor in val.sensor
											h5 
												li
													if (val.as_one_glyph == '0')
														img.image(src='/glyph/' + val_sensor.glyph+'.png' width="50" height="50" alt="Marker")
														a(href=val_sensor.url)  #{val_sensor.glyph} : #{val_sensor.sensor_name} Sensor on (#{val_sensor.channel})
													else
														a(href=val_sensor.url) #{val_sensor.sensor_name} Sensor assigned to channel : #{val_sensor.channel}

										br
										br
										a(href='device/'+val._id+'/addsensor')(style='margin-right:10px;') 
											button.btn.btn-success (+) Add New Sensor 
										|  
										a(href='device/'+val._id)(style='margin-right:10px;') 
											button.btn.btn-primary View Device Detail 
										| 
										a(href='device/'+val._id+'/update') 
											button.btn.btn-primary Edit Device Detail 
					else
						tr
							td There are no glyph.
