extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='sensor_name') Sensor Name:
      input#sensor_name.form-control(type='text' placeholder='Set sensor name' name='sensor_name' required='true' value=(undefined===sensor ? '' : sensor.sensor_name))

    div.form-group
      label(for='glyph') Mark:
      select#glyph.form-control(type='select' placeholder='Select status' name='glyph' required='true')
        for glyph in mark_list
          if sensor
            option(value=glyph.glyph_name selected=(sensor.glyph==glyph.glyph_name ? 'selected' : false)) #{glyph.glyph_name}
          else
            option(value=glyph.glyph_name) #{glyph.glyph_name}

    div.form-group
      label(for='channel') Channel:
      select#channel.form-control(type='select' placeholder='Select status' name='channel' required='true')
        for channel in channel_list
          if sensor
            option(value=channel.channel_name selected=(sensor.channel==channel.channel_name ? 'selected' : false)) #{channel.channel_name}
          else
            option(value=channel.channel_name) #{channel.channel_name}


    .contentBox
        .block
          .row
            .col-sm-6
              div.form-group
                label(for='min_val') Minimum Value:
                input#min_val.form-control(type='text' placeholder='Set minimum value of your sensor data, 10, 13, 300, etc'  name='min_val'         required='true' value=(undefined===sensor ? '' : sensor.min_val))
  
            .col-sm-6
              div.form-group
                label(for='max_val') Maximum Value:
                input#max_val.form-control(type='text' placeholder='Set maximum value of your data, 10, 13, 300, etc'  name='max_val' required='true' value=(undefined===sensor ? '' : sensor.max_val))

          .row
            .col-sm-6
              div.form-group
                label(for='min_col_val') Color Minimum Value:
                .input-group(class='colorpicker-component' id='min_col_val')
                  input#min_col_val.form-control(type='text' class='input-lg' name='min_col_val' placeholder='Set maximum value of your data, 10, 13, 300, etc' required='true' value=(undefined===sensor ? '' : sensor.min_color))
                  span.input-group-addon#basic-addon2 Choose Colour 
                    i 
                script(type="text/javascript") $(function (){ $('#min_col_val').colorpicker() });
  
            .col-sm-6
              div.form-group
                label(for='max_col_val') Color Maximum Value:
                .input-group(class='colorpicker-component' id='max_col_val')
                  input#max_col_val.form-control(type='text' class='input-lg' name='max_col_val' placeholder='Set maximum value of your data, 10, 13, 300, etc' required='true' value=(undefined===sensor ? '' : sensor.max_color))
                  span.input-group-addon#basic-addon2 Choose Colour 
                    i 
                script(type="text/javascript") $(function (){ $('#max_col_val').colorpicker() });

          .row
            .col-sm-6
              div.form-group
                label(for='range') Range data in minutes to be visualized:
                .input-group
                  input#range.form-control(type='text' placeholder='Set maximum value of your data, 10, 13, 300, etc'  name='range' required='true' value=(undefined===sensor ? '' : sensor.data_range_minute) aria-describedby="basic-addon2")
                  span.input-group-addon#basic-addon2 minutes
  
            .col-sm-6
              div.form-group
                label(for='calculation') Calculation:
                select#calculation.form-control(type='text' placeholder='Set sensor name'  name='calculation'         required='true' value=(undefined===sensor ? '' : sensor.calculation))
                        option(value='lastvalue') Last Value
                        option(value='average') Average
                        option(value='summary') Summary


    button.btn.btn-primary(type='submit') Submit