extends layout

block content
  
  h1 Sensor Detail:
  .contentBox
    .block
      .row
        div(style='margin-left:20px;margin-top:20px') 
          .col-sm-6
            div(style='margin-left:20px;margin-top:20px')
              h2 Sensor Name: 
              p.listingname #{sensor.sensor_name}

              h3 Sensor Id: 
              p.listingname.italic #{sensor._id}

              h3 Assigned to device: 
              p.listingname #{sensor.device.device_name}

              h3 Using Mark: 
              p.listingname #{sensor.glyph}
          
              h3 On the channel Mark: 
              p.listingname #{sensor.channel}
          .col-sm-6
            div(style='margin-left:20px;margin-top:20px')
              h3 User Defined Minimum Value: 
              p.listingname #{sensor.min_val}
          
              h3 User Defined Maximum Value: 
              p.listingname #{sensor.max_val}
              
              h3 Data range in minutes: 
              p.listingname #{sensor.data_range_minute}
          
              h3 Current Aggregation Method: 
              p.listingname #{sensor.calculation}
          
              h3 Current Aggregated Data value: 
              p.listingname.bigred #{sensor.data}
      

  hr
  div(style='margin-left:20px;margin-top:20px')
    .contentBox
      h4.border-bottom
      .table-responsive
        table.table.table-hover.va-middle.u-mr-top-20
          thead
            tr
              th.h3 latest #{sensor.data_range_minute} minutes of data
          tbody
            each val in data
              tr
                td  
                  h5.italic #{val.date} 
                  h4 #{val.value}
                  
            else
              tr
                td There are no glyph.

  hr
  div(style='margin-left:20px;margin-top:20px')
    .contentBox
      .block
        .row
          .col-sm-6
            p.listingname 
              a(href='/detail/data/'+sensor._id+'/delete') Clear All Sensor #{sensor.sensor_name} Data 
              | | 
              a(href=sensor.url+'/delete').redish Delete Sensor 
              | | 
              a(href=sensor.url+'/update')  Edit Sensor


  style.
    .bigred 
    { 
    font-size: 1.5em;
    color: red; 
    }
    .italic
    {
     font-style: italic;
    }
    .listingname 
    { 
    font-size: 1.5em;
    }
    .redish 
    { 
    color: red; 
    }