extends layout

block content
	h1=title
	p adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

	.contentBox
		h4.border-bottom 
		.table-responsive
			table.table.table-hover.va-middle.u-mr-top-20
				thead
					tr
						th 
				tbody
					each val in sensor
						tr
							td
								div(style='max-width: 750px;') 
									.col-sm-6
										h5 Assigned tag marker: #{val.device.marker}
										.image-block
												img.image(src='/marker/' + val.device.marker+'.png' width="150" height="150" alt="Marker")

									.col-sm-6(style='margin-left:130px;')
										
										a(href=val.url)
											h2 #{val.sensor_name} Sensor 
										h4.bold ID Sensor: #{val._id}
										p.listingname Current aggegated Value: #{val.data}
										p.listingname Aggregation type: #{val.calculation}
										if (val.device.as_one_glyph == '0')
											h5 Visualized as a Single #{val.glyph} Mark to channel (#{val.channel})
											img.image(src='/glyph/' + val.glyph+'.png' width="50" height="50" alt="Marker")
										else
											h5 Visualized into One #{val.device.glyph} Mark to channel (#{val.channel})
											img.image(src='/glyph/' + val.device.glyph+'.png' width="50" height="50" alt="Marker")
										br
										br

										a(href='detail/sensor/'+val._id)(style='margin-right:10px;')
											button.btn.btn-primary View Sensor Detail 
										| 
										a(href='detail/sensor/'+val._id+'/update') 
											button.btn.btn-primary Edit AR Visualisation

					else
						tr
							td There are no Sensor Registred.
	style.
		.bigred 
		{ 
		font-size: 1.5em;
		color: red; 
		}
		.italic
		{
		 font-style: italic;
		}
		.listingname 
		{ 
		font-size: 1.75em;
		}