extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='sensor_name') Sensor Name:
      input#sensor_name.form-control(type='text' placeholder='Set sensor name' name='sensor_name' required='true' value=(undefined===sensor ? '' : sensor.sensor_name))

    div.form-group
      label(for='glyph') Mark:
      select#glyph.form-control(type='select' placeholder='Select status' name='glyph' required='true')
        for glyph in mark_list
          if sensor
            option(value=glyph.glyph_name selected=(sensor.glyph==glyph.glyph_name ? 'selected' : false)) #{glyph.glyph_name}
          else
            option(value=glyph.glyph_name) #{glyph.glyph_name}
    br
    hr
    .contentBox
        .block
          .row
            .col-sm-6
              div.form-group
                label(for='channel') Channel:
                select#channel.form-control(type='select' placeholder='Select status' name='channel' required='true')
                  for channel in channel_list
                    if sensor
                      option(value=channel.channel_name selected=(sensor.channel==channel.channel_name ? 'selected' : false)) #{channel.channel_name}
                    else
                      option(value=channel.channel_name) #{channel.channel_name}

            .col-sm-6
              div.form-group
                label(for='default_color') Default Color :
                .input-group(class='colorpicker-component' id='default_color')
                  input#default_color.form-control(type='text' class='input-lg' style="height:35px;" name='default_color' placeholder='Set maximum value of your data, 10, 13, 300, etc' required='true' value=(undefined===sensor ? '#9eebcd' : sensor.def_color))
                  span.input-group-addon#basic-addon2 Choose Colour 
                    i 
                script(type="text/javascript") $(function (){ $('#default_color').colorpicker() });
          .row
            .col-sm-6
              div.form-group
                label(for='opacity') Opacity of the Mark :
                .input-group(class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id='opacity')
                  input#amount.form-control(type='text' name='amount' placeholder='100 %'  style="border: 0 none;border-radius: 5px 5px 5px 5px;padding-left: 5px;width: 70px;")
                div#slider(class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all")
                div(class='steps')
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 6%;") 0%
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 10
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 20
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 30
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 40
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 50
                      br                      
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 60
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 70
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 80
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 5%;") 90
                      br                 
                    span(style="display:inline-block;width: 3%;text-align:right;") 100%
                      br
                script(type="text/javascript") $( function() {$( "#slider" ).slider({ value:100, min: 0,max:100, step: 10, slide: function( event, ui ) { $( "#amount" ).val(ui.value + "%");}});});

            .col-sm-6
              div.form-group
                label(for='size') Size of the Object :
                .input-group(class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id='opacity')
                  input#amountsize.form-control(type='text' name='amountsize' placeholder='0.5'  style="border: 0 none;border-radius: 5px 5px 5px 5px;padding-left: 5px;width: 50px;")
                div#slider2(class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all")
                div(class='steps')
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 6%;") 0
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 0.5
                      br                      
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 7%;") 
                      br
                    span(style="display:inline-block;width: 3%;text-align:left;margin-right: 5%;") 
                      br                 
                    span(style="display:inline-block;width: 3%;text-align:right;") 2
                      br
                script(type="text/javascript") $( function() {$( "#slider2" ).slider({ value:0.5, min: 0,max:1, step: 0.1, slide: function( event, ui ) { $( "#amountsize" ).val(ui.value);}});});

          .row
            .col-sm-6
              div.form-group
                label(for='min_val') Minimum Value:
                input#min_val.form-control(type='text' placeholder='Set minimum value of your sensor data, 10, 13, 300, etc'  name='min_val'         required='true' value=(undefined===sensor ? '' : sensor.min_val))
  
            .col-sm-6
              div.form-group
                label(for='max_val') Maximum Value:
                input#max_val.form-control(type='text' placeholder='Set maximum value of your data, 10, 13, 300, etc'  name='max_val' required='true' value=(undefined===sensor ? '' : sensor.max_val))



          .row
            .col-sm-6
              div.form-group
                label(for='min_col_val') Color Minimum Value:
                .input-group(class='colorpicker-component' id='min_col_val')
                  input#min_col_val.form-control(type='text' class='input-lg' name='min_col_val' placeholder='Set maximum value of your data, 10, 13, 300, etc' required='true' value=(undefined===sensor ? '#0dff0d' : sensor.min_color))
                  span.input-group-addon#basic-addon2 Choose Colour 
                    i 
                script(type="text/javascript") $(function (){ $('#min_col_val').colorpicker() });
  
            .col-sm-6
              div.form-group
                label(for='max_col_val') Color Maximum Value:
                .input-group(class='colorpicker-component' id='max_col_val')
                  input#max_col_val.form-control(type='text' class='input-lg' name='max_col_val' placeholder='Set maximum value of your data, 10, 13, 300, etc' required='true' value=(undefined===sensor ? '#ff0707' : sensor.max_color))
                  span.input-group-addon#basic-addon2 Choose Colour 
                    i 
                script(type="text/javascript") $(function (){ $('#max_col_val').colorpicker() });

          .row
            .col-sm-6
              div.form-group
                label(for='range') Range data in minutes to be visualized:
                .input-group
                  input#range.form-control(type='text' placeholder='Set maximum value of your data, 10, 13, 300, etc'  name='range' required='true' value=(undefined===sensor ? '' : sensor.data_range_minute) aria-describedby="basic-addon2")
                  span.input-group-addon#basic-addon2 minutes
  
            .col-sm-6
              div.form-group
                label(for='calculation') Calculation:
                select#calculation.form-control(type='text' placeholder='Set sensor name'  name='calculation'         required='true' value=(undefined===sensor ? '' : sensor.calculation))
                        option(value='lastvalue') Last Value
                        option(value='average') Average
                        option(value='summary') Summary

            div.form-group
              if sensor
                input#data.form-control(type='hidden' name='data' value=sensor.data)


    button.btn.btn-primary(type='submit') Submit